.modalBackGround2{
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modalContainer2{
    background-color: rgb(22,22,22);
    margin: auto;
    border: 2px solid #888;
    width: 70%;
    height: 65%;
    border-radius: 0.5vh;
    display: block;
    align-items: center;
   
}
.modalHead2{
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: bold;
    /* padding: 0.1vw; */
    padding-left: 2vw;
}
.modalHead2>div>button{
    border: 2px #F0E68C solid;
    border-radius: 50%;
    text-align: center;
    width: 1.2vw;
    color: #e6d168;;
    cursor: pointer;
margin-bottom:2vh; 
margin-right: 0.2vw;
   background-color: transparent;
}
.modalContent2{
    display: grid;
    grid-template-rows: repeat(4,auto);
    gap: 2vh;
}
.modalContentFirstRow{
    display: flex;
    gap: 4vw;
}
.choosingTeamCell{
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 16%;
    font-size: 0.9rem;
    color: #e6d168;
    position: relative;
}
.select{
    width:6vw;
    height: 4vh;
    text-align: center;
    appearance: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.select:hover{
    outline:1px grey solid;
}
.select:focus{
    transform: scaleX(1.2);
    border-radius: 1px 0px 0px 0px;
    outline: 1px solid grey;
}
.select:focus-within{
    transform: scaleX(1);
}

/* .select:focus {
width:50vw;
z-index: 10000;
position: relative;
} */

.choosingTeamCell:nth-child(1) button{
    width:7vw;
    height: 4vh;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    font-size: medium;
    
    
}


.choosingTeamCell span:nth-child(2){
    display: flex;
    padding-left: 20%;
    padding-top: 0.5vh;
    gap: 1.5vw;
}
.choosingTeamCell span:nth-child(2)>button{
    background-color: rgb(22, 22, 22);
    border:0;
    color: white;
    width: 6vw;
    height: 4vh;
    cursor: pointer;
}
.choosingTeamCell span:nth-child(2)>button>i{
    font-size:1.1rem;
    
}
.fa-dumbbell{
    transform: rotate(30deg);
}

.btn:focus i{
    color:#F0E68C;

}
.btn i{
    background-color: transparent;
}
 
.choosingTeamCell-Second{
    padding-left: 2vw;
    display:flex;
    flex-direction: column;
    gap: 0.8vh;
}
.choosingTeamCell-Second:first-child{
    color: #e6d168;;
}
.choosingTeamCell-Second .hovedPrincip{
    padding-left: 1vw;

}

.choosingTeamCell-Second select{
    width: 15vw;
    text-align: center;
    justify-content: center;
    /* outline: none; */
}
input[type="date"],input[type="time"]{
    background-color: transparent;
    color: white;
    width: 15vw;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    height: 4vh;
    text-align: center;
}
.choosingTeamCell select:hover{
    outline: grey solid 1px;
}
.choosingTeamCell-SecondContent{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footerOfRow{
    padding-left: 4vw;
    padding-top: 0.5vh;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.modalFooter2{
    width: 93%;
    padding-top: 4vh;
display: flex;
justify-content: end;
}
.modalFooter2 >button{
    margin-right: -3vw;
    background-color: #dbc451;
    color: rgb(31, 30, 30);
    font-family:monospace;
    text-align: center;
    font-weight:800;
    width: 4vw;
    height: 3.5vh;
    border:none;
    border-radius: 10%;
    cursor: pointer;
}



  .modalContentSecondRow{
      overflow:hidden;
      display: flex;
      gap: 4vw;
      padding-bottom: 4px;
  }